#mid,
#midin {
	height: 4.5px
}


#left,
#right {
	width: 20px;
	height: 14px;
	cursor: pointer;
	background-position-x: 5px;
	background-repeat: no-repeat;
	text-align: center
}

#video_controls {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0ZThlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY1JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY1JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top, #f4e8e8 0, #fff 65%, #fff 65%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f4e8e8), color-stop(65%, #fff), color-stop(65%, #fff));
	background: -webkit-linear-gradient(top, #f4e8e8 0, #fff 65%, #fff 65%);
	background: -o-linear-gradient(top, #f4e8e8 0, #fff 65%, #fff 65%);
	background: -ms-linear-gradient(top, #f4e8e8 0, #fff 65%, #fff 65%);
	background: linear-gradient(to bottom, #f4e8e8 0, #fff 65%, #fff 65%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4e8e8', endColorstr='#ffffff', GradientType=0);
	-webkit-box-shadow: 0 .5px 5px .2px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0 .5px 5px .2px rgba(0, 0, 0, 1);
	box-shadow: 0 .5px 5px .2px rgba(0, 0, 0, 1);
	overflow: hidden;
	padding: 1px
}

#left {
	float: left;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: url(ply1.png);
	background-size: 10px 10px;
	background-position-y: 2px
}

#mid,
#right {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none
}

#mid {
	overflow: hidden;
	background: #999999;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	position: relative;
	top: 5px;
	user-select: none
}

#midin {
	width: 0;
	background: #333333;
	transition: 50ms width
}

#video_player {
	background: #000;
	margin: 0 0 7px
}

#right {
	float: right;
	user-select: none;
	background-image: url(vol1.png);
	background-size: 9px 9px;
	background-position-y: 2.7px
}


.videocontainer {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	outline: 0
}
